@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

@font-face {
  font-family: "Garnett";
  src: url("../fonts/Garnett-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Garnett";
  src: url("../fonts/Garnett-Bold.ttf") format("ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Garnett";
  src: url("../fonts/Garnett-Light.ttf") format("ttf");
  font-weight: light;
}

@font-face {
  font-family: "Garnett";
  src: url("../fonts/Garnett-RegularItalic.ttf") format("ttf");
  font-style: italic;
}
